
<div class="headline">
    <div class="container">
        <div class="inner">
            <h1>Simplified task-management through #hashtags</h1>
            <h2>The task manager that doesn't get in your way.</h2>
            <div class="inner">
                <a href="/docs" class="btn btn-learn">Learn More</a>
                <a href="/downloads" class="btn btn-started">Get Started</a>  
            </div>
        </div>
    </div>
</div>

<div class="download container">
    <div class="inner">
        <h4>Download</h4>
        <div class="row">
            <div class="col-md-3"><a href="https://itunes.apple.com/us/app/deeq/id906558269?mt=12&amp;uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_macappstore-lrg.png) no-repeat;width:165px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_macappstore-lrg.svg);}"></a></div>

            <div class="col-md-5"><a href="/downloads">or Download the CLI version for OSX &amp; Linux</a></div>
        </div>
    </div>
</div>